/* ========================
      RESPONSIVE BREAKPOINTS
    ========================*/

@media (max-width: 1200px) {
  /* html {
    font-size: 55%;
  } */

  .home-content > h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 991px) {
  .home-content > h3 {
    font-size: 3.3rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .content-section.active {
    padding: 10rem 3% 2rem;
  }

  .services h2 {
    padding-bottom: 2rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .portfolio-layer p {
    font-size: 1.3rem;
  }

  .portfolio-layer h4 {
    font-size: 2.5rem;
  }

  .portfolio h2 {
    padding-bottom: 2rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  main {
    margin-left: 20px;
  }

  #sidebar {
    width: 200px;
  }

  #sidebarToggle {
    left: 210px;
  }

  #sidebar-actions {
    display: block;
    justify-content: center;
  }

  #selectAll,
  #clearAll {
    width: 100%;
  }
  /* }

@media (max-width: 768px) { */
  #menu-icon {
    display: block;
  }

  .header-menu-toggle {
    display: block;
  }

  .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 3%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .header-nav.open {
    display: block;
    margin: 2px 0;
    background-color: #212224b0;
  }

  .header-nav a {
    right: 50px;
    text-align: right;
    display: block;
    font-size: 2.3rem;
    margin: 1rem 0;
    border-bottom: 1px solid var(--border-color);
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 50vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .header-nav {
    display: none;
  }

  .header-menu-toggle {
    display: block;
  }
  /* }

@media (max-width: 617px) { */
  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .footer-content {
    /* gap: 6; */
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer p {
    margin-top: 2rem;
  }

  .footer-social-media {
    padding-top: 10px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .home-img img {
    width: 90vw;
  }

  .about-img img {
    width: 80vw;
  }

  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}
